/* CAŁY KALKULATOR */

div#calculator {
  margin: 50px;
  display: flex;
  border: 5px solid black;
  height: 380px;
  width: 250px;
  flex-direction: column;
  overflow: hidden;
}

/* WYŚWIETLANY WYNIK */

div#view {
  background-color: #ccc;
  border-bottom: 5px solid black;
  flex-basis: 20%;
}

div#view span#result {
  font-size: 30px;
  padding: 2px;
  line-height: 150%;
}

/* PANEL Z LICZBAMI  */

div#panel {
  display: flex;
  background-color: red;
  flex-direction: row;
}

div#panel div#numbers {
  flex-basis: 80%;
}

div#panel div#numbers button#clear {
  width: 100%;
}

div#panel div#numbers button {
  font-size: 30px;
  padding: 20px;
  background-color: white;
  color: black;
  width: 33.3%;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.1s;
}

div#panel div#numbers button:hover {
  background-color: black;
  color: white;
}

/* PANEL Z OPERACJAMI */

div#panel div#operations {
  flex-basis: 20%;
}

div#panel div#operations button {
  font-size: 30px;
  width: 100%;
  padding: 20px;
  background-color: red;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.1s;
}

div#panel div#operations button#minus {
  border-top: 1px solid black;
}

div#panel div#operations button:hover {
  background-color: white;
  color: red;
}
