/* CAŁY KALKULATOR */

h1#title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 50px;
}

div#wrap {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 30px;
  height: 700px;
  width: 500px;
  opacity: 0.5;
  margin-top: 153.5px;
  border: 3px solid white;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  transition: 0.3s;
}

div#wrap:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 10%;
  width: 550px;
}

div#calculator {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  height: 460px;
  width: 250px;
  flex-direction: column;
  overflow: hidden;
}

/* WYŚWIETLANY WYNIK */

div#view {
  background-color: white;
  margin-bottom: 15px;
}

div#view span#result {
  font-size: 30px;
  padding: 0.1px;
  line-height: 150%;
}

/* PANEL Z LICZBAMI  */

div#panel {
  display: flex;
}

div#panel div#numbers {
  flex-basis: 80%;
}

div#panel div#numbers button#clear {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

div#panel div#numbers button#zero {
  width: 100%;
}

div#panel div#numbers button {
  font-size: 30px;
  padding: 20px;
  background-color: white;
  color: black;
  width: 33.3%;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.1s;
}

div#panel div#numbers button:hover {
  background-color: black;
  color: white;
}

/* PANEL Z OPERACJAMI */

div#panel div#operations {
  flex-basis: 20%;
}

div#panel div#operations button {
  font-size: 30px;
  width: 100%;
  padding: 20px;
  background-color: red;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.1s;
}

div#panel div#operations button:hover {
  background-color: white;
  color: red;
}
